@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* *
{
   font-family: 'Dancing Script', cursive;
}*/

body {
    background-color: #fff;
    cursor: pointer;
    min-width: 100vh;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height: auto;
}
.menu 
{
    display:block;
    height: 60px;
    width:auto;
    margin: 0;
    min-width: 150vh !important;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 2;
}
.MenuItem
{
    background-color:#070707;
    display:flex;
    height: 60px;
    width:auto;
    margin: 0px;
    border-bottom: solid;
    justify-content: space-between;
    align-items:center;
    color: white;
}
nav{
     position: relative;
    height: 60px;
    justify-content: center;
    align-items: center;
}
nav a{
    font-size: 20px;
    z-index: 1;
    display: inline-block;
    border-radius: 8px;
    position:relative;
}
nav .HoatAnh
{
    position: absolute;
    height: 96%;
    top: 0;
    z-index: 0;
    background:#3b969d;
    border-radius: 8px;
}
nav.start-home,a:nth-child(1):hover~.HoatAnh
{
    width: 105px;
    left: 0px;
}
a:nth-child(1)
{
    top: 15px;
    width: 105px;
    left: 5px;
}
nav.start-home,a:nth-child(2):hover~.HoatAnh
{
    width: 100px;
    left: 105px;
}
a:nth-child(2)
{
    top: 15px;
    width: 95px;
    left: 20px;
}
nav.start-home,a:nth-child(3):hover~.HoatAnh
{
    width: 100px;
    left: 206px;
}
a:nth-child(3)
{
    top: 15px;
    width: 100px;
    left: 10px;
}
nav.start-home,a:nth-child(4):hover~.HoatAnh
{
    width: 100px;
    left: 306px;
}
a:nth-child(4)
{
    top: 15px;
    width: 100px;
    left: 0px;
}
.body
{
    height: auto;
    width: 100%;
    margin: 0%;
    margin-top: 60px;
    margin-left: 130px;
}
.maincontent
{
    height: auto;
    width: 100%;
}
.footer
{
    height: 150px;
    width: 100% ;
    background: #070707;
    color: azure;
    padding-top: 10px;
    padding-bottom:10px;
    z-index: 99;
    left: 0;
    right: 0;
    position:absolute;
    cursor:default;
}
.container
{
    max-width: 1170px;
    margin: auto; 
    justify-content:space-between;
    padding-left: 100px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.row-col
{
    width: auto;
    padding-left: 60px;
    padding-right: 0px;
    float: left;
}
.row-col h4{
    text-decoration: none;
}
.row-col li{
    text-decoration: none;
}
.row-col ul{
    list-style: none;
}
.row-col a{
    text-decoration: none;
    color: azure;
}
.row-col h6{
    align-items: center;
    font-size: 9px;
}
.clear
{
    clear: both;
}
.logo
{
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: azure;
}
.card {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 20px;
    
}
.thumb {
    width: 370px;
    height: 370px;
    z-index: 1;
    transition: 0,8s all;
    background-color: #fff5e1;
    border-radius: 10%;
}
.desc{
    width: 310px;
    height: 300px;
    background: #fff5e1;
    transition: 0,8s all;
    padding-top: 60px;
    position: absolute;
        border-radius:10%;
        -moz-border-radius:10%;
        -webkit-border-radius:10%;
}
.desc h3{
    color:#070707;
    text-align: center;
    font-size: 16px;
}
.desc .name,.desc .size {
    font-weight: bold;
    color: #a7a4a4;
    font-size: 20px;
    margin-top: 47px;
    margin-left: 0px;
}
.desc p{
    margin-left: 50px;
    width: 206px;
    font-size: 14px;
    margin-top: 6px;
    color:#070707;
}
.other-info {
    display: flex;
    align-items: center;

}
.gia {
    margin-left: 46px;
    margin-right: 30px;
    margin-bottom: 40px;
    color: rgb(255, 125, 125);
    font-weight: bold;
}

.product{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    top: 500px;
    left:auto;
}
   .card img {
        border-radius:10%;
        -moz-border-radius:10%;
        -webkit-border-radius:10%;
        width: 370px;
        height: 370px;
        }
     .card:hover .desc {
        transform: translateX(195px);
     }
     .card:hover .thumb {
        transform: translateX(-150px);
     }
.muah
{
    background:#070707;
    margin-left: 100px;
    border-radius: 10px;
}
.seacrch-box{
    position:absolute;
    top:15%;
    right: 0%;
    transform: translate(-20%,-50%);
    background:black;
    border-radius: 11px;
    padding: 5px;
    background: linear-gradient(to right,rgb(244, 197, 238),#e28bb2);     
    width: 220px;
    align-items: center;
    text-align: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 1s;
    line-height: 20px;
    width: 140px;
}
.search-btn
{
    justify-content:center;
    align-items: center;
    float: right;
    background: linear-gradient(to right,rgb(244, 197, 238),#e28bb2);     
    border-radius: 15px;
    border: 1px solid;
}
.quaylai
{
    justify-content:center;
    align-items: center;
    float: right;
    background: linear-gradient(to right,rgb(244, 197, 238),#e28bb2);     
    border-radius: 50px;
    border: 1px solid;
    bottom: 25%;
    right: 5%;
    height: 60px;
    position: fixed;
    cursor: pointer;
}
.khungtincon{
    min-width: 400px;
    max-width: auto;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
        margin-bottom: 10%;
}
.khungtincon  img{
    text-decoration: none;
    border: solid 1px;
}
.khungtincon a
{
    text-decoration: none;
    width: 1000px;
    color: #070707;
    border: solid 1px;
    margin: 5px;
}
.khungtincon p
{
    text-decoration: none;
}