@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* *
{
   font-family: 'Dancing Script', cursive;
}*/
html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
*
{
    margin: 0;
    padding: 0;
}

.menu 
{
    display:block;
    height: 60px;
    width:auto;
    margin: 0;
    min-width: 600px;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 2;
}
.MenuItem
{
    background-color:#070707;
    display:flex;
    height: 60px;
    width:auto;
    margin: 0px;
    border-bottom: solid;
    justify-content: space-between;
    align-items:center;
    color: white;
}
nav{
     position: relative;
    height: 60px;
    justify-content: center;
    align-items: center;
}
nav a{
    font-size: 20px;
    z-index: 1;
    display: inline-block;
    border-radius: 8px;
    position:relative;
    color: azure;
    text-decoration: none;
}
nav .HoatAnh
{
    position: absolute;
    height: 96%;
    top: 0;
    z-index: 0;
    background:#3b969d;
    border-radius: 8px;
}
nav.start-home,a:nth-child(1):hover~.HoatAnh
{
    width: 105px;
    left: 0px;
}
a:nth-child(1)
{
    top: 15px;
    width: 105px;
    left: 5px;
}
nav.start-home,a:nth-child(2):hover~.HoatAnh
{
    width: 100px;
    left: 105px;
}
a:nth-child(2)
{
    top: 15px;
    width: 95px;
    left: 20px;
}
nav.start-home,a:nth-child(3):hover~.HoatAnh
{
    width: 100px;
    left: 206px;
}
a:nth-child(3)
{
    top: 15px;
    width: 100px;
    left: 10px;
}
nav.start-home,a:nth-child(4):hover~.HoatAnh
{
    width: 100px;
    left: 306px;
}
a:nth-child(4)
{
    top: 15px;
    width: 100px;
    left: 0px;
}
.body
{
    height: 100%;
    width: 100%;
    margin: 0%;
    margin-top: 60px;
    font-size: 25px;
}
.lhlmao
{
    height: 100%;
    margin: 0%;
    margin-top: 200px;
    font-size: 25px;
    text-align:justify;
    align-items: center;
    top: 50%;
    left: 50%;
    margin-left: 450px;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
}
.lhlmao a
{
    text-decoration: none;
    color: #070707;
}
.lhlmao li
{
    text-decoration: none;
}
.lhlmao ul
{
    list-style: none;
}
.footer
{
    height: 150px;
    background: #070707;
    color: azure;
    padding-top: 10px;
    padding-bottom:10px;
    position: absolute;
    justify-content:space-between;
    display: flex;
    width: 100%;
}
.container
{
    max-width: 1170px;
    margin: auto; 
    justify-content:space-between;
    padding-left: 100px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.row-col
{
    width: auto;
    padding-left: 60px;
    padding-right: 0px;
    float: left;
}
.row-col h4{
    text-decoration: none;
}
.row-col li{
    text-decoration: none;
}
.row-col ul{
    list-style: none;
}
.row-col a{
    text-decoration: none;
    color: azure;
}
.row-col h6{
    align-items: center;
    font-size: 9px;
}
.GioiThieu
{
display: flex;
 justify-content: space-around;
 height: 100%;

}
.GioiThieuT
{
    padding-left: 50px;
}
.GioiThieuT  a
{
    text-decoration: none;
}

.khungtin{
    min-width: 400px;
    max-width: auto;
    display:flex;
    margin-left: 18%;
    width: 1000px;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 100px;
        margin-bottom: 10%;
}
.khungtin  img{
    text-decoration: none;
    border: solid 1px;
}
.khungtin a
{
    text-decoration: none;
    width: auto;
    color: #070707;
    border: solid 1px;
    margin: 5px;
}
.khungtin p
{
    text-decoration: none;
}
.khungtincon{
    min-width: 400px;
    max-width: auto;
    display:flex;
    margin-left: 18%;
    width: 1000px;
    height: 1000px;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
        margin-bottom: 10%;
}
.khungtincon  img{
    text-decoration: none;
    border: solid 1px;
}
.khungtincon a
{
    text-decoration: none;
    width: 1000px;
    color: #070707;
    border: solid 1px;
    margin: 5px;
}
.khungtincon p
{
    text-decoration: none;
}
.GioiThieuP 
{
    right: 10px;
    clear:right;
    margin-left: 10px;
    float: right;

}
.GioiThieuP img
{   
    padding-top: 100px;
    height: 450px;
    width: 350px;
}
.sos{
    width: 100%;
    height: auto;
}
.csw-btn-button {
    margin-left: 300px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 35px;
    color: #080505 !important;
    border-radius: 10px;
    background: #FFF0F5	;
    border: 1px solid #FFF0F5;
    transition: 0.4s;
  }
  .csw-btn-button:hover {
    background: #292929;
    color: azure!important;
  }
  .but{
    margin-left: 570px;
  }
  .csw-btn-buttonSua {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 35px;
    color: #080505 !important;
    border-radius: 10px;
    background: #FFF0F5	;
    border: 1px solid #FFF0F5;
    transition: 0.4s;
    top: 10%;
  }
  .csw-btn-buttonSua:hover {
    background: #292929;
    color: azure!important;
  }
  .csw-btn-buttonquanlymon {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 35px;
    color: #080505 !important;
    border-radius: 10px;
    background: #FFF0F5	;
    border: 1px solid #FFF0F5;
    transition: 0.4s;
  }
.csw-btn-buttonquanlymon:hover {
    background: #292929;
    color: azure!important;
}
  .csw-btn-buttonThem {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 35px;
    color: #080505 !important;
    border-radius: 10px;
    background: #FFF0F5	;
    border: 1px solid #FFF0F5;
    transition: 0.4s;
  }
  .csw-btn-buttonThem:hover {
    background: #292929;
    color: azure!important;
  }
  .csw-btn-buttonXoa {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 35px;
    color: #080505 !important;
    border-radius: 10px;
    background: #FFF0F5	;
    border: 1px solid #FFF0F5;
    transition: 0.4s;
  }
  .csw-btn-buttonXoa:hover {
    background: #292929;
    color: azure!important;
  }
  .GTMonMoi
  {
    width: 100%;
    height:50px;
    background-color: #080505!important;
    color: azure;
    text-align: center;
    margin-top: 100px;
    float: left;
  }
  .logo
  {
    margin-left: 10px;
  }

.clear
{
    clear: both;
}
#ha
{
    text-align:center;
    color: white;
}
#ha1
{
    text-align: center;
}
.bang
{
    display:flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.quanlymon
{
    justify-content:center;
    align-items: center;
    float: right;
    background: linear-gradient(to right,rgb(244, 197, 238),#e28bb2);     
    border-radius: 50px;
    border: 1px solid;
    bottom: 25%;
    right: 5%;
    height: 60px;
    position: fixed;
    cursor: pointer;
}